{% extends 'core/base.html' %}

{% block title %} Add News {% endblock title %}

{% block content %}
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Enter title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
              <label for="content">Enter Content</label>
              <input type="text" class="form-control" id="content" name="content">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
    </div>
{% endblock content %}